
/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
    font-weight: 800;
    padding-right: 50px;
    padding-left: 50px;
}

header li {
    list-style: none;
    display: inline-block;
    padding-left: 10px;
    font-size: large;
}

/* home page */
section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
}

/* game space */
#game-space {   
    border-right: 1px solid black;
    width: 70vw;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
}

#answer-space {    
    display: flex;
    flex-direction: row;    
    gap: 2rem;
}

#article {
    width: 100px;
    background-color: aqua;
    text-transform: capitalize;
}

#answer {
    width: 200px;
    background-color: antiquewhite;
    text-transform: capitalize;
}

#eng-meaning {    
    font-size: 2rem;
    margin-top: 10px;
    width: 200px;
    background-color: rgb(226, 203, 172);
    text-transform: capitalize;
}

#game-space button {
    list-style: none;
    display: inline-flex;
    padding: 10px;
    font-size: x-large;
    margin-top: 50px;
    margin-bottom: 10px;
    }

    #check-box {
        border-top: 1px solid black;
        font-size: 1.3rem;
    }


/* score space */
#score-space {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
    margin-left: 50px;
    align-items: center;
    font-size: 1.3rem;
    
    
}
#score-space div {
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

/* ========================================================================= */
/* list.html */
#table-page {
    display: none;        
    width: 100vw;
    justify-content: space-evenly;
}

.table {    
    display: block;
    margin: 0 auto;
    font-size: 1rem;   
    text-align: left;   
}

.table th {
    padding-right: 10px;
    border-bottom: 1px solid rgb(50, 50, 50);
}
.table td {
    padding-right: 10px;
}
